.btn {
  font-weight: bold;
  color: #fff;
  background-color: #ff4e50;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 13px 20px 12px 20px;
  max-width: 225px;
  white-space: nowrap;
}

.ligth-btn {
  color: #ff4e50;
  background-color: transparent;
  border: 2px solid #ff4e50;
  padding: 11px 25px 10px 25px;
}
