.footer__hr {
  height: 4px;
  background-color: #ff4e50;
  margin: 0 0 36px 0;
}

.footer__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo__link--footer {
  color: #ff4e50;
  font-size: 16px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu__column {
  font-weight: bold;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 38px;
  margin-right: 163px;
  cursor: pointer;
}

.company__item {
  font-family: "Roboto";
  color: #666;
  line-height: 1.71;
  cursor: pointer;
}
.company__item:first-child {
  margin-top: 15px;
}

.footer__designed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.designed__title {
  font-weight: bold;
  font-size: 10px;
  color: #ccc;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.desegned__icon {
  width: 110px;
  height: 24px;
}

.designed__img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  footer__hr {
    margin-bottom: 19px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__logo {
    margin-bottom: 19px;
  }

  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 16px;
    margin-right: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__column:last-child {
    margin-bottom: 19px;
  }

  .menu__column--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .company__item {
    margin-right: 15px;
  }

  .footer__designed {
    margin-bottom: 17px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}